<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Állatmenhely</title>
</head>
<body>
    <%- include('nav.ejs') %>
    <div id="main-kontener">
        <h1>Állatmenhely</h1>
        <ul>
            <li><a href="/cats">Macskák</a></li>
            <li><a href="/dogs">Kutyák</a></li>
            <li><a href="/adopters">Örökbefogadók</a></li>
        </ul>
    </div>
</body>
</html>